button
{
  padding: 1px 6px;
}

.linksParent
{
  padding-left: 10px;
  padding-bottom: 10px;
}

table a {
  margin-right: 0px;
  padding: 0px;
}

a
{
  margin-right: 20px;
  padding: 2px;
}
a:hover
{
  color: red;
}

h1
{
  font-weight: bold;
}

table tr td, table tr th
{
  padding: 0px 5px;
}
table
{
  border-collapse: collapse;
}
table tr th
{
  text-align: center;
  font-weight: bold;
}
table tr td
{
  text-align: center;
}
table td, table th {
  border-right: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
